Body { 
    color:black;
    background: #9370d8;
    margin: 0px;
    font-family: "Bebas Neue", sans-serif;
}

header {
    border-bottom: solid 2px rgb(134, 0, 256, 1);
    padding: 20px;
    font-size: 32px;
    color: rgb(134, 0, 256, 1) ;
}

.chamada {
    background: rgb(184, 156, 213);
    padding-bottom: 80px ;
    padding-top: 80px;
   display: flex;
   justify-content: center;
}

.chamada-texto {
    margin-right: 149px;
}

h1{
    font-size: 80px;
}

p{
 font-size: 20px;
}

img {
    height: 200px;
}

.categoria-series {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-series img {
    opacity: 0.5;
    height: 200px;
}

.categoria-series img:hover {
    opacity: 1.0;
    border: 3px solid rgb(87, 0, 128);
}

.categoria h2 {
    color: rgb(42, 122, 228);
}